<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stringee
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Stringee</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">

    <ion-button expand="block" (click)="getPermisiion()" style="margin-top: 25px; height: 50px;">Get Permission</ion-button>

    <ion-item style="margin-top: 25px;">
      <ion-label position="stacked" >Enter UserID</ion-label>
      <ion-input type="text" [(ngModel)]="userId"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="getToken()" style="margin-top: 25px; height: 50px;">Get Token</ion-button> 
    
   
    <ion-button expand="block" (click)="getConfig()" style="margin-top: 25px; height: 50px;">Get Config</ion-button>

    <ion-item style="margin-top: 25px;">
      <ion-label position="stacked" >Enter CallerID</ion-label>
      <ion-input type="text" [(ngModel)]="reciverid"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="outgoingCall()" style="margin-top: 25px; height: 50px;">Make Call</ion-button>
    <ion-button expand="block" (click)="answerCall()" style="margin-top: 25px; height: 50px;">Answer Call</ion-button>
    <ion-button expand="block" (click)="endCall()" style="margin-top: 25px; height: 50px;">End Call</ion-button>

    

    

  </div>
</ion-content>
